@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');
body{
    background-color: #F5D04E;
    font-family: "Figtree", sans-serif;
    position: relative;
    align-items: center;
    justify-content: center;
}
.frame {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
.center {
    position: relative;
      
  }
.container{
    display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.container2{
    position: relative;
    width: 320px;
    height: 500px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 20px;
    padding: 1.5rem;
}
.container1{
    position: absolute;
    top: 10px; 
    left: 10px;
    width: 320px;
    height: 500px;
    background-color: #000000;
    border-radius: 6%;
    padding: 1.5rem;
}
.card__image{
    width: 100%;
    border-radius: 10px;
}
.status{
    width: 20%;
    margin: 1.5rem 0rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: #F5D04E;
    border-radius: 5px;
    font-weight: 900;
    cursor: pointer;
}
.status:hover{
    background-color: #f9da6c;
}
.date{
    font-size: 1rem;
    color: #4E4E4E;
    font-weight: 600;
    margin-top: -0.5rem;
}
.card__title{
    font-weight: 900;
    font-size: 22px !important;
}
.card__description{
    font-size: 1.1rem;
    color: #4E4E4E;
    margin: 1rem 0rem;
    line-height: 25px;
}
.card__author{
    display: flex;
    align-items: center;
    margin: 1rem 0rem;
}
.card__author-image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 1rem;
    cursor: pointer;
}
.card__author-name{
    font-size: 1.1rem;
    font-weight: 800;
    cursor: pointer;
}

@media screen and (max-width: 950px){
    .container2{
        width: 250px;
        height: 500px;
    }
    .container1{
        width: 250px;
        height: 500px;
    }
    .frame{
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
}